auto, type_area, #footer .footer, #serve .serve, .shopp ul, #describe .describe, #nav .nav > ul > li div ul, #nav .nav, #header .header {
  margin: 0 auto;
}

type_area, #footer .footer, #serve .serve, .shopp ul, #describe .describe, #nav .nav > ul > li div ul, #nav .nav, #header .header {
  width: 1226px;
}

#header {
  width: 100%;
  height: 40px;
  background-color: #333333;
}
#header .header {
  height: 40px;
}
#header .header ul {
  float: left;
  height: 40px;
}
#header .header ul li {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  float: left;
}
#header .header ul li > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #b0b0b0;
}
#header .header ul li > a:hover {
  color: white;
}
#header .header ul li > span {
  color: #424242;
  margin: 0 0.3rem;
}
#header .header ul li:nth-child(11) > a {
  position: relative;
}
#header .header ul li:nth-child(11) > a > div {
  width: 124px;
  height: 0px;
  transition: all 0.3s;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -62px;
  text-align: center;
  box-shadow: 0 1px 5px #aaa;
  line-height: 1px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  overflow: hidden;
  z-index: 5;
}
#header .header ul li:nth-child(11) > a > div > img {
  display: block;
  margin: 18px auto 12px;
  text-align: center;
}
#header .header ul li:nth-child(11) > a:hover div {
  height: 148px;
}
#header .header ul li:nth-child(11) > a::after {
  content: " ";
  border: 7px solid transparent;
  border-bottom-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  display: none;
}
#header .header ul li:nth-child(11):hover a::after {
  display: block;
}
#header .header .shoppCar {
  float: right;
  margin-left: 15px;
  position: relative;
}
#header .header .shoppCar a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #424242;
  color: #b0b0b0;
}
#header .header .shoppCar a i {
  font-size: 20px;
}
#header .header .shoppCar div {
  width: 316px;
  height: 0px;
  position: absolute;
  right: 0;
  top: 40px;
  color: #424242;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 80px;
  transition: height 0.2s;
  overflow: hidden;
  background-color: white;
  z-index: 5;
}
#header .header .shoppCar:hover div {
  height: 80px;
}
#header .header .shoppCar:hover a {
  color: #ff6700;
  background-color: white;
}
#header .header .no-login, #header .header .login {
  float: right;
}
#header .header .login {
  display: none;
  line-height: 40px;
}
#header .header .login span {
  font-size: 16px;
  color: #ff6600;
}
#header .header .login a {
  font-size: 12px;
  transition: all 0.2s;
  position: relative;
  color: #b0b0b0;
  top: 5px;
}
#header .header .login a:hover {
  color: #ff6600;
}

#nav {
  width: 100%;
  height: 100px;
  position: relative;
}
#nav .nav {
  height: 100px;
}
#nav .nav h1 {
  width: 55px;
  height: 55px;
  margin-top: 22px;
  float: left;
  overflow: hidden;
}
#nav .nav h1 a {
  display: block;
  width: 55px;
  height: 55px;
  text-indent: -9999rem;
  position: relative;
  background-color: #ff6700;
}
#nav .nav h1 a::before {
  content: " ";
  width: 55px;
  height: 55px;
  background: url("../images/mi-home.png") no-repeat center center;
  position: absolute;
  top: 0;
  left: -55px;
  transition: all 0.2s;
}
#nav .nav h1 a::after {
  content: " ";
  width: 55px;
  height: 55px;
  background: url("../images/mi-logo.png") no-repeat center center;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
}
#nav .nav h1:hover a::before {
  left: 0;
}
#nav .nav h1:hover a::after {
  right: -55px;
}
#nav .nav > ul {
  width: 708px;
  height: 100px;
  float: left;
  margin-left: 142px;
}
#nav .nav > ul > li {
  margin-top: 12px;
  float: left;
}
#nav .nav > ul > li > a {
  display: block;
  padding: 26px 10px 28px;
  font-size: 16px;
  color: #333333;
  transition: color 0.2s;
}
#nav .nav > ul > li > a:hover {
  color: #ff6700;
}
#nav .nav > ul > li div {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  background-color: white;
  box-shadow: 0px 2px 2px #aaa;
  overflow: hidden;
  z-index: 4;
}
#nav .nav > ul > li div ul li {
  float: left;
}
#nav .nav > ul > li div ul li a {
  font-size: 12px;
  color: #757575;
  text-align: center;
}
#nav .nav > ul > li div ul li a img {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0px 20px;
  border-right: 1.5px solid #e0e0e0;
}
#nav .nav > ul > li div ul li a p:last-child {
  color: #ff6700;
  margin: 16px 0;
}
#nav .nav > ul > li div ul .last a img {
  border-right: none;
}
#nav .nav form {
  width: 296px;
  height: 50px;
  margin-top: 25px;
  float: right;
  font-size: 0;
  vertical-align: top;
  position: relative;
}
#nav .nav form input {
  outline: 0;
  border: 1px solid #e0e0e0;
  vertical-align: top;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  border-right: none;
}
#nav .nav form button {
  outline: 0;
  border: 1px solid #e0e0e0;
  vertical-align: top;
  width: 50px;
  height: 50px;
  padding: 1px 6px;
  background-color: white;
  position: relative;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
#nav .nav form button i {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  transition: all 0.2s;
}
#nav .nav form button:hover {
  background-color: #ff6700;
  border-color: #ff6700;
}
#nav .nav form button:hover i {
  color: white;
}
#nav .nav form div {
  position: absolute;
  top: 14px;
  right: 62px;
}
#nav .nav form div a {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
  color: #757575;
  background-color: #eeeeee;
  transition: all 0.2s;
}
#nav .nav form div a:hover {
  background-color: #ff6700;
  color: #ffffff;
}
#nav .nav form:hover input {
  border-color: #b0b0bb;
}
#nav .nav form ul {
  width: 243px;
  height: 300px;
  border: 1px solid #FF4500;
  background-color: #FFFFFF;
  position: absolute;
  top: 49px;
  left: 0px;
  display: none;
  z-index: 3;
  overflow: hidden;
}
#nav .nav form ul li {
  width: 243px;
  height: 30px;
  background-color: #FFFFFF;
}
#nav .nav form ul li a {
  display: block;
  width: 229px;
  height: 30px;
  font-size: 12px;
  color: #716f72;
  line-height: 30px;
  background-color: #FFFFFF;
  padding-left: 14px;
}
#nav .nav form ul li a:hover {
  background-color: #F5F5F5;
}

#describe {
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
#describe .describe {
  height: 40px;
  font-size: 12px;
  color: #757575;
  line-height: 40px;
}

.shopp {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  margin-bottom: 20px;
}
.shopp ul {
  border-bottom: 1px solid #e0e0e0;
}
.shopp ul h2 {
  width: 50px;
  cursor: pointer;
  margin: 15px 0;
}
.shopp ul li {
  float: left;
  width: 244px;
  height: 136px;
  padding-top: 24px;
  text-align: center;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.shopp ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.shopp ul li img {
  width: 80px;
  height: 80px;
}
.shopp ul li p {
  font-size: 14px;
  margin-top: 20px;
  color: #757575;
  transition: all 0.2s;
}
.shopp ul li:hover p {
  color: #FF4500;
}

#serve {
  width: 100%;
  height: 275px;
}
#serve .serve {
  height: 275px;
}
#serve .serve .top-links {
  width: 1228px;
  height: 27px;
  margin-top: 28px;
  margin-bottom: 27px;
}
#serve .serve .top-links p {
  float: left;
  width: 244.5px;
  height: 27px;
  border-right: 1px solid #e0e0e0;
  text-align: center;
}
#serve .serve .top-links p a span {
  color: #605d58;
  font-size: 16px;
  line-height: 27px;
  transition: all 0.2s;
}
#serve .serve .top-links p a:hover span {
  color: #FF4500;
}
#serve .serve .links-left {
  width: 975px;
  height: 115px;
  float: left;
}
#serve .serve .links-left p {
  font-size: 16px;
  color: #4b3d3a;
  margin-top: 40px;
  margin-bottom: 30px;
}
#serve .serve .links-left ul {
  width: 161px;
  height: 115px;
  float: left;
}
#serve .serve .links-left ul li {
  font-size: 13px;
  margin-bottom: 16px;
}
#serve .serve .links-left ul li a {
  color: #707271;
  transition: all 0.2s;
}
#serve .serve .links-left ul li a:hover {
  color: #FF4500;
}
#serve .serve .links-right {
  width: 250px;
  height: 115px;
  float: right;
  margin-top: 50px;
  border-left: 1px solid #e1e1e1;
  text-align: center;
}
#serve .serve .links-right .p1 {
  color: #ff6600;
  font-size: 17px;
  margin-bottom: 10px;
}
#serve .serve .links-right .p2 {
  font-size: 13px;
  color: #5f5f5f;
  margin-bottom: 5px;
}
#serve .serve .links-right .p3 {
  font-size: 12px;
  color: #5c5c64;
}
#serve .serve .links-right a {
  display: block;
  width: 120px;
  height: 30px;
  border: #FF6600 1px solid;
  text-align: center;
  margin-left: 65px;
  margin-top: 20px;
  transition: all 0.2s;
}
#serve .serve .links-right a img {
  position: relative;
  top: 8px;
}
#serve .serve .links-right a span {
  font-size: 12px;
  color: #FF6600;
  line-height: 30px;
  transition: all 0.2s;
}
#serve .serve .links-right a:hover {
  background-color: #FF6600;
}
#serve .serve .links-right a:hover span {
  color: #FFFFFF;
}

#footer {
  width: 100%;
  height: 249px;
  background-color: #fafafa;
}
#footer .footer {
  height: 249px;
}
#footer .footer .footer-logo {
  width: 58px;
  height: 249px;
  float: left;
}
#footer .footer .footer-logo h2 {
  width: 55px;
  height: 55px;
  text-align: center;
  background-color: #ff6b01;
  margin-top: 30px;
  float: left;
}
#footer .footer .footer-links {
  height: 172px;
  width: 1161px;
  float: left;
  margin-left: 7px;
}
#footer .footer .footer-links ul {
  margin-top: 32px;
  height: 20px;
}
#footer .footer .footer-links ul span {
  color: #716F72;
  margin: 0 1px;
  font-size: 12px;
  float: left;
}
#footer .footer .footer-links ul li {
  float: left;
  height: 12px;
}
#footer .footer .footer-links ul li a {
  font-size: 12px;
  color: #6e796b;
  transition: all 0.2s;
}
#footer .footer .footer-links ul li a:hover {
  color: #FF4500;
}
#footer .footer .footer-links .footer-main {
  height: 65px;
}
#footer .footer .footer-links .footer-main p {
  font-size: 12px;
  color: #b2b1ad;
}
#footer .footer .footer-links .footer-main p a {
  color: #b2b1ad;
  transition: all 0.2s;
}
#footer .footer .footer-links .footer-main p a:hover {
  color: #FF4500;
}
#footer .footer .footer-links .footer-links-pic {
  margin-top: 10px;
}
#footer .footer .footer-links .footer-pic {
  width: 1228px;
  text-align: center;
  margin-top: 32px;
}

/*# sourceMappingURL=list.css.map */
