@mixin bor($width:$borSize, $style:solid, $color:$gray) {
    border: $width $style $color;
}
@mixin bac($color, $image, $repeat) {
    background: $color url($image) $repeat;
}
@mixin juzhongX{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
@mixin juzhongY{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
type_area{
    width: 1226px;
    margin: 0 auto;
}
html,body{
    width: 100%;
    height: 100%;
    color: #666;
    background-color: #f9f9f9;
}

.wrap{
    padding-top: 40px;
    .container{
        width: 854px;
        height: 518px;
        background-color: #fff;
        margin: 0 auto;
        h1{
            text-align: center;
            margin-bottom: 40px;
            background-color: #ff6b01;
        }
        h2{
            font-size: 30px;
            color: #333;
            text-align: center;
        }
        .regist{
            width: 332px;
            margin: 30px auto;
            form{
                input{
                    width: 300px;
                    height: 22px;
                    border: 1px solid #e0e0e0;
                    padding: 10px 14px;
                    margin: 8px 0;
                }
                button{
                    width: 328px;
                    height: 44px;
                    border: none;
                    color: #fff;
                    background-color: #ff6700;
                    margin: 20px 0;
                }
            }
        }
    }

    .footer{
        height: 80px;
        color: #757575;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        .nav{
            a{
                color: #757575;
                padding: 10px;
            }
            a:first-child{
                color: #333;
            }
            a:hover{
                color: #333;
            }
        }
        p{
            line-height: 44px;
            a{
                color: #757575;
                img{
                    vertical-align: middle;
                }
            }
        }
    }
}